# Core requirements
flask==2.3.2
flask-login==0.6.2
flask-sqlalchemy==3.0.3
flask-wtf==1.1.1
python-dotenv==1.0.0
requests==2.31.0
werkzeug==2.3.7
wtforms==3.0.1

# Hugging Face API
transformers==4.34.0
sentencepiece==0.1.99

# Development & debugging
blinker==1.6.2
gunicorn==20.1.0

# Database
sqlalchemy==2.0.20
flask-migrate==4.0.5

# Security
bcrypt==4.0.1
pyjwt==2.8.0